{% extends "base.html" %}
{% block title %}Sterowanie manualne{% endblock %}
{% block heading %}Sterowanie manualne{% endblock %}

{% block data %}
    <ul>
        <li>Tryb pracy: {{ state }}</li>
        <li>Prędkość lewego koła: {{ left_speed }}</li>
        <li>Prędkość prawego koła: {{ right_speed }}</li>
    </ul>
    <br /><br />
{% endblock %}
    
{% block content %}
    <form method="POST">
        <center>
            <input type="text" id="default_speed" name="default_speed"><br>
            <button type="set_default" name="set_default_btn" class="btn btn-primary">Ustaw domyślną prędkość</button><br><br>

            <button type="stop" name="stop_btn" class="btn btn-primary" value="stp">STOP</button><br><br>

            <input type="text" id="left_speed" name="left_speed">
            <input type="text" id="right_speed" name="right_speed"> <br>

            <button type="set_left" name="set_left_btn"class="btn btn-primary">Zatwierdź prędkość lewego koła</button>
            <button type="set_right" name="set_right_btn"class="btn btn-primary">Zatwierdź prędkość prawego koła</button>
        </center>
    </form>

{% endblock %}